@import 'vars.scss';

.logoImage {
    background-color: $c_white;
    position: absolute;
    width: 208px;
    height: 31.72px;
}


// .searchBarContainer{ }
// .searchBarInnerContainer { }
.autoCompleteOuterContainer {
    border-radius: 5px;
}

.suffixWrapper {
    border-radius: 5px;
    .searchBarIcon--search {
        padding: 0px;
    }
}

.sizeDesktop {
    width: 90px;
}

.imageElement--banner-images-grande {
    max-width: 100%;
}

.infoCardContainer--imagemassinante {
    margin: 5px 70px;
    display: flex;
    justify-content: center !important;
    align-items: center;
    padding: 0px;

    .infoCardCallActionText {
        font-size: 12px;
    }
    .infoCardImage {
        width: 24px;
    }
}
.infoCardContainer--imagempromocoes {
    margin: 5px 70px;
    display: flex;
    justify-content: center !important;
    align-items: center;

    .infoCardCallActionText {
        font-size: 12px;
    }
    .infoCardImage {
        width: 20px;
    }
}
.infoCardContainer--imagempontos {
    margin: 5px 70px;
    display: flex;
    justify-content: center !important;
    align-items: center;

    .infoCardCallActionText {
        font-size: 12px;
    }
    .infoCardImage {
        width: 20px;
    }
}

.imageElement--lastimglast1 {
    width: 118px;
    height: 36px;
}

.imageElement--lastimglast2 {
    width: 100px;
    height: 9px;
}